* {
    margin: 0;
}

body {
    display: grid;
    place-content: center;
    min-height: 100dvh;
    background-color: black;
    color: white;
}

canvas {
    border: 0px solid black;
    max-width: 900px;
    max-height: 600px;
}

.mention {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    text-align: right;
}

.score {
    position: absolute;
    top: 1.5rem;
    left: 0rem;
    font-size: 3rem;
}